.slide{
          background-image:url("https://images.alphacoders.com/678/thumb-1920-678281.jpg.jpg");
		  background-image:url("https://pt.best-wallpaper.net/wallpaper/2560x1920/1206/2012-The-Expendables-2_2560x1920.jpg");
		  background-image:url("http://s1.1zoom.me/b5050/316/Warriors_Wonder_Woman_(2017_film)_Wonder_Woman_523400_2048x2732.jpg");
		  background-image:url("http://br.web.img3.acsta.net/c_300_300/pictures/17/03/02/16/02/262397.jpg");
		  background-image:url("https://images.alphacoders.com/793/thumb-350-793787.jpg");
		  background-image:url("https://www.popsci.com/sites/popsci.com/files/import/2013/images/2009/11/Matrix.jpg");
		 }